[submodule "code/marl/tilecoding"]
	path = code/marl/tilecoding
	url = https://github.com/gehring/tilecoding.git
[submodule "code/ovs"]
	path = code/ovs
	url = https://github.com/felixmcfelix/ovs
[submodule "code/traffic-host/mcfelix.me"]
	path = code/traffic-host/mcfelix.me
	url = https://github.com/FelixMcFelix/mcfelix.me
[submodule "code/caida-stats"]
	path = code/caida-stats
	url = https://github.com/FelixMcFelix/caida-stats.git
[submodule "code/opus-voip-traffic"]
	path = code/opus-voip-traffic
	url = https://github.com/FelixMcFelix/opus-voip-traffic.git
